<div
  class="absolute z-10 inset-y-0 left-0 pl-3 flex items-center justify-center text-gray-400"
  *ngIf="to.addonLeft"
  [ngStyle]="{ cursor: to.addonLeft.onClick ? 'pointer' : 'inherit' }"
  (click)="addonLeftClick($event)"
>
  <i [ngClass]="to.addonLeft.class" *ngIf="to.addonLeft.class"></i>
  <ui-icon [ngClass]="to.addonLeft.iconClass" [icon]="to.addonLeft.icon" *ngIf="to.addonLeft.icon"></ui-icon>
  <span *ngIf="to.addonLeft.text">{{ to.addonLeft.text }}</span>
</div>

<ng-container #fieldComponent></ng-container>

<div
  class="absolute inset-y-0 right-0 pr-3 flex items-center justify-center text-gray-400"
  *ngIf="to.addonRight"
  [ngStyle]="{ cursor: to.addonRight.onClick ? 'pointer' : 'inherit' }"
  (click)="addonRightClick($event)"
>
  <i [ngClass]="to.addonRight.class" *ngIf="to.addonRight.class"></i>
  <ui-icon [ngClass]="to.addonRight.iconClass" [icon]="to.addonRight.icon" *ngIf="to.addonRight.icon"></ui-icon>
  <span *ngIf="to.addonRight.text">{{ to.addonRight.text }}</span>
</div>
